# Ignore a blachole and the folder for development
node_modules/
.vs/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json

# Ignore the GH cli downloaded by workflows
gh